Varible = Assignment operator
L.H.S   = R.H.S
Variable its holds the Value.Value stroed in memory.also called memory
variable 
1.no space in between two words and use -,
2.no number start let with variable, we can use second letter.
3.its put meaning ful name
Error
1.name Error a.spelling mistakes b. variable to assign
2.EOF end of file a. put semicolon

In [9]:
Number1=40
Numbr2=70
add=Number1+Numbr2

In [10]:
Number1=40
Number2=70
add=Number1+Number2

In [33]:
Number1=40
Number2=70
add=Number1+Number2
print("Add")
print(add)

Add
110

In [12]:
First Name="Manoj"
Second Name="Krishnakumar"

SyntaxError: invalid syntax (1748190553.py, line 1)

In [15]:
First_Name="Manoj"
Second_Name="Krishnakumar"

In [16]:
FirstName="Manoj"
SecondName="Krishnakumar"

In [17]:
4name=14

SyntaxError: invalid decimal literal (57980757.py, line 1)

In [18]:
name4=14

In [26]:
print("The Addiction Of Two Members")

TypeError: 'str' object is not callable

In [27]:
num1=10
print("The Number1:",num1)

TypeError: 'str' object is not callable

In [28]:
del print

In [34]:
print("The Addiction Of Two Members")
num1=10
print("The Number1:",num1)
num2=30
print("The Number2:",num2)
print("The Answer:",num1+num2)

The Addiction Of Two Members
The Number1: 10
The Number2: 30
The Answer: 40

In [40]:
num1=int(input("Enter the Value:"))

Enter the Value: 45

In [45]:
num2=int(input("Enter The Value:"))

Enter The Value: 45

In [46]:
Add=num1+num2

In [47]:
print(Add)

90

In [49]:
num1=int(input("Enter the Value:"))

Enter the Value: 76

In [50]:
nam="manoj"

In [51]:
print(nam)

manoj

In [52]:
num='manoj'

In [53]:
print(num)

manoj